#p1{
    background-color: #ff6a00;
    height: 40px;
    font-size: 25px;
}
#p2 {
    background-color: #4cff00;
    height: 40px;
    font-size: 25px;
}
div {
    background-color: #000000
    height: 40px;
}
h1{
    color:aquamarine;
}
    text-center{
        text-align:center;
    }